@import "../variables//colors.scss", "../ui/Button.module.scss";

.header{
    ul{
        display: flex;
        li {
            list-style: none;
            padding: 10px;
            a {
                text-decoration: none;
            }
        }
        button{
            border-radius: 40px;
            background-color: $button-color;
            @include button-mixin;
        }
    }
}
