
@mixin button-mixin($color, $font-color: black){
    background-color: $color;
    border-radius: 40px;
    padding: 10px;
    border: solid 1px;
    color: $font-color;
    &:hover {
        background-color: lighten($color, 20%);
    }
    &:click {
        background-color: darken($color, 20%);
    }
}